section .cart{
    position: relative;
    border: 1px solid #2A302C;
    padding-top: 60px;
    background-color: #2A302C;
    color:white;
}

.conten-cart{
    width: 100vh;
    padding-top: 100px;
    /* width: 100%; */
    /* max-width: 1200px; */
    display: block;
    margin:0 auto;
    justify-content: center;
}

.row {
    color:  #67B31B;
}

/* .details{
    width: 1200px;
} */
.amount span{
    color: #67B31B;
    padding: 0 24px;
}
.amount .count{
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.delete{
    /* width: 50px; */
    position: absolute;
    top:10;
    right: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #67B31B;
    padding-right: 20px;
}



.total{
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total a{
    text-decoration: none;
    background: #67B31B;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: #67B31B;
}

@media (max-width: 769px){
    .total{
        width: 100%;
        justify-content: space-around;
    }
}